name: Dependabot Auto Merge

on:
  workflow_run:
    workflows: [CI]
    types: [completed]

jobs:
  automerge:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.pull_requests && github.event.workflow_run.pull_requests[0].user.login == 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Merge Dependabot PR
        uses: peter-evans/merge-pull-request@v4
        with:
          pull-request-number: ${{ github.event.workflow_run.pull_requests[0].number }}
          merge-method: squash
          commit-title: 'chore(deps): auto-merge dependabot PR'
